/* Import Stylesheets */
@import url("reset.css");

/* Local Fonts */
@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/roboto.woff2") format("woff");
}

/* General Styles */
html {
  font-family: "Roboto";
}

.breakout-image {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: none;
  object-fit: cover;
}

/* Header */
.site-tagline {
  margin-block-start: 0;
}

/* Navigation */
.nav-wrapper {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  padding: 1.5rem;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0;
  background-color: #222;
  color: #fff;
  font-size: 0.825rem;
}

/* Homepage */
.home-description {
  margin-bottom: 1.5rem;
}

.home-wrapper__image {
  position: relative;

  & .home-image__caption {
    position: absolute;
    bottom: 1rem;
    left: 0;
    color: #fff;
  }
}

.home-image {
  margin-bottom: 2rem;
  height: 500px;
  object-position: 50% 50%;
}

/* Jobs Page */
.job-wrapper {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.jobs-description {
  margin-bottom: 3rem;
}

/* Contact Page */
.contact-title {
  margin-bottom: 1rem;
}

.contact-description {
  margin-bottom: 3rem;
}

.form-wrapper {
  border: 1px solid #e0e0e0;
  padding: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-bottom: 0.75rem;

  & input {
    border: 1px solid #e0e0e0;
    padding: 0.25rem 0.55rem;
    width: 100%;
  }
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-name,
.form-email {
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer-wrapper {
  border-top: 1px solid #e0e0e0;
  padding-top: 0.5rem;
  margin-top: 3rem;
}