/* Import Stylesheets */
@import url("reset.css");

/* Local Fonts */
@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/roboto.woff2") format("woff");
}

/* General Styles */
html {
  font-family: "Roboto";
}

/* Header */
.site-tagline {
  margin-block-start: 0;
}

.nav-wrapper {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  padding: 1.5rem;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0;
  background-color: #222;
  color: #fff;
  font-size: 0.825rem;
}

/* Job Item */
.job-wrapper {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Footer */
.footer-wrapper {
  border-top: 1px solid #e0e0e0;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}