<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers Website</title>
    <link href="./static/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="flex flex-col sm:w-xl sm:justify-self-center min-h-screen font-sans p-7">
    <header>
        <h1 class="text-3xl font-semibold">{{ company_name }}</h1>
        <h5 class="mb-7">A Python Flask Test Career Website</h5>
    </header>

    <main>
        <section class="mb-5">
            <h2 class="text-2xl font-semibold mb-5">Open Positions</h3>
                {% for job in jobs %}
                {% include 'job-item.html' %}
                {% endfor %}
                <button class="px-3.5 py-2 bg-neutral-700 font-semibold text-xs uppercase text-white">
                    <a href-"/contact" title="Contact Us">
                        Contact Us
                    </a>
                </button>
        </section>
    </main>

    <footer class="mt-auto text-sm">
        &copy; 2025 {{ company_name }}.
    </footer>
</body>

</html>