<article class="job-wrapper">
    <h3>{{ job['title'] }}</h3>
    <div>
        <ul>
            <li>
                <strong>Location:</strong> {{ job['location'] }}
            </li>
            {% if 'salary' in job %}
            <li>
                <strong>Salary:</strong> {{ job['salary'] }}
            </li>
            {% endif %}
        </ul>
        <div>
            <button>
                <a href="/apply" title="Apply">Apply</a>
            </button>
        </div>
    </div>
</article>