<article class="job-wrapper">
    <h3 class="text-lg font-semibold mb-1">{{ job['title'] }}</h3>
    <div class="flex flex-row justify-between justify-items-start">
        <ul>
            <li>
                <strong>Location:</strong> {{ job['location'] }}
            </li>
            <li>{% if 'salary' in job %}
                <strong>Salary:</strong> {{ job['salary'] }}
                {% endif %}
            </li>
        </ul>
        <div>
            <button class="bg-neutral-700 text-white font-semibold text-sm uppercase px-3.5 py-2">
                <a href="/apply" title="Apply">Apply</a>
            </button>
        </div>
    </div>
</article>